/*左侧列*/
.left-img {
    width: 200px;
    height: 150px;
    display: inline-block;
}

.list-group-item {
    position: relative;
}

.left-content,.right-content-top {
    padding:0 15px;
}

.right-text {
    width: 490px;
    margin-left: 30px;
    display: inline-block;
    position: absolute;
}

.right-text .text {
    height: 100px;
}

.right-text .msg {
    bottom: -30px;
    position: absolute;
}

.list-container {
    margin-top: 18px;
}
